*{
    background-color:  rgb(91, 133, 212);;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    text-decoration: none;
}

header{
    background-color: darkblue;
    margin: 0;
    padding: 0;
    height: 70px;
    font-size: 50px;
    text-align: center;
    border-bottom: 2px solid crimson;
    /* border: 5px dotted red; */
}

h1{
    background-color: darkblue;
}

main{
    margin: 0;
    padding: 0;
    height: 600px;
    justify-content: center;
    align-items: center;
    /* border: 5px dotted red; */
    
}

.row{
    background-color: rgb(91, 133, 212);
}

#indexbutton {
    background-color: darkblue;
    border: none;
    color: white;
    padding: 15px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
    }



.btn-grid{
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 15px;
    margin:20px 0;

}


.btn{
    border: 1px solid black;
    background-color: darkblue;
    outline: none;
    
}

.btn:hover{
    border-color: whitesmoke;
    color: whitesmoke;
    text-decoration-line: none;
}

.btn.correctanswer{
    background-color: seagreen;
}

.btn.wronganswer{
    background-color: crimson;
}


#index-btn-grid{
    justify-content: center;
    align-items: center;
    padding: 20%;
}

#start-btn{
    border: 1px solid black;
    background-color: darkblue;
    outline: none;
    font-size: 25px;
    margin: 10px;
}

#start-btn:hover{
border-color: whitesmoke;
}

#highscore-btn{
    border: 1px solid black;
    font-size: 25px;
    background-color: darkblue;
    outline: none;
    margin: 10px;
}

#highscore-btn:hover{
border-color: whitesmoke;
}


#next-btn{
    border: 1px solid black;
    background-color: darkblue;
    outline: none;
    font-size: larger;

}
    

#next-btn:hover{
    border-color: whitesmoke;

}
/* [class^="col-"]{
    border: 5px dotted blue;
    height: 620px;

  } */

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    height: 30px;

}